mixin hero()
  -
    const heroAwards = [
      {
        count: "25",
        img: "award-icon-1",
        width: "28",
        height: "28"
      },
      {
        count: "1",
        img: "award-icon-2",
        width: "41",
        height: "12"
      },
      {
        count: "26",
        img: "award-icon-3",
        width: "25",
        height: "25"
      },
      {
        count: "22",
        img: "award-icon-4",
        width: "27",
        height: "27"
      },
      {
        count: "40",
        img: "award-icon-5",
        width: "27",
        height: "27"
      },
    ]
  section.hero
    .container
      .hero__title-awards-wrapper
        h1.hero__title Creative digital production
        ul.hero__awards-list
          each award in heroAwards
            li.hero__awards-list-item
              a.hero__awards-link(href="#")
                span.hero__awards-count!=award.count
                .hero__awards__icon-container
                  +icon(award.img, award.width, award.height)
      .hero__info-container
        .hero__years
          p.hero__years-count 10
          .hero__years-wrapper
            p.hero__years-text лет
            p.hero__years-description Лучший креативный разработчик для b2b
        +contacts("hero__contacts")
        .hero__presentation-title-container
          h2.hero__presentation-title Only.digital&nbsp;&mdash; агентство с&nbsp;фокусом на&nbsp;сильную аналитику, дизайн и&nbsp;разработку. В&nbsp;основе наших проектов лежат идеи, создаваемые на&nbsp;стыке стратегии, креатива и&nbsp;технологий.
        +presentation("hero__presentation")
        a.hero__start-link.btn-fill(href="#") Начать проект


      .hero__video-container
        video.hero__video(
          src="video/hero-teaser-video.mp4",
          autoplay,
          muted,
          playsinline
          )
