.awards .container {
  padding: 50px 30px;

  @include vp-1279 {
    padding: 20px;
  }

  @include vp-767 {
    overflow: hidden;
    padding: 31px 15px;
  }
}

.awards__title {
  width: 418px;

  @include vp-1279 {
    width: 344px;

    br {
      display: none;
    }
  }
}

.awards__description {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.03em;

  opacity: 0.6;

  @include vp-1279 {
    font-size: 15px;
  }
}

.awards__title-container {
  display: flex;
  justify-content: space-between;
  border-top: $border;

  @include vp-767 {
    row-gap: 23px;
    flex-direction: column;
  }
}

.awards__section-description {
  flex-grow: 1;
  padding-top: 41px;

  @include vp-1279 {
    padding-top: 21px;
  }
}

.awards__title-wrapper {
  padding: 40px 80px 0 39px;
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  min-width: 690px;
  width: min-content;

  border-left: $border;

  @include vp-1279 {
    padding: 21px 0 0 20px;
    row-gap: 19px;
    min-width: 200px;
    font-size: 15px;
  }

  @include vp-767 {
    row-gap: 14px;
    min-width: 100%;
    padding: 0;
    border-left: none;
  }
}

.awards__container {
  margin-top: 78px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: space-between;


  @include vp-1279 {
    margin-top: 60px;
    gap: 0;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 32px;
  }
}

.awards__cards-list {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 680px;
  gap: 20px;

  // overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  flex-grow: 0;

  @include vp-1279 {
    min-width: unset;
    padding: 0 0 0 8px;
    gap: 15px;
  }

  @include vp-767 {
    padding: 0;
    column-gap: 10px;
    display: flex;
    flex-wrap: nowrap;
    max-width: 190px;
  }
}

.awards__cards-list-item {
  height: min-content;

  @include vp-1279 {
    flex-grow: 1;

    width: min-content;
  }
}

.awards__tournaments-list {
  position: relative;

  top: -10px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  gap: 7px;
  order: -1;
  list-style: none;

  @include vp-1279 {
    top: 0;
    gap: 15px;
  }

  @include vp-767 {
    gap: 6px;
  }
}

.awards__tournaments-list-item {
  height: min-content;

  &--font {
    @include vp-767 {
      .awards__tournaments-button-word {
        font-size: 32px;
      }
    }
  }
}

.awards__tournaments-button {
  display: flex;
  align-items: center;

  min-height: 70px;

  color: $color-black;

  user-select: none;


  @include vp-1279 {
    min-height: 29px;
  }

  &:hover,
  &:focus-visible {
    outline: none;

    .awards__tournaments-button-icon-wrapper {
      margin-right: 20px;
      width: 70px;

      @include vp-1279 {
        margin-right: 10px;
        width: 29px;
      }
    }
  }
}

.awards__tournaments-button.is-active {
  pointer-events: none;

  .awards__tournaments-button-word {
    opacity: 1;
  }

  .awards__tournaments-button-icon-wrapper {
    margin-right: 20px;
    width: 70px;

    @include vp-1279 {
      width: 29px;
      margin-right: 10px;
    }
  }
}

.awards__tournaments-button-word {
  opacity: 0.4;


  font-family: $ff-primary;
  font-weight: 600;
  font-size: 56px;
  line-height: 90%;
  letter-spacing: -0.03em;

  transition: opacity $trans-default;

  transform: opacity $tf-default;

  @include vp-1279 {
    font-size: 32px;
    opacity: 1;
  }

  @include vp-767 {
    font-size: 28px;
  }
}

.awards__tournaments-button-icon-wrapper {
  position: relative;
  margin: 0;
  width: 0;
  transition: all $trans-default;
  overflow: hidden;
  height: 70px;
  border-radius: 15px;


  @include vp-1279 {
    border-radius: 10px;
    height: 29px;
  }
}


.awards__tournaments-button-icon-wrapper svg {
  position: absolute;
  right: 0;
  width: 70px;
  height: 70px;

  @include vp-1279 {
    width: 29px;
    height: 29px;
  }
}

.awards__tournaments-button-word + .awards__tournaments-button-icon-wrapper {
  margin-left: 20px;

  @include vp-1279 {
    margin-left: 10px;
  }

  @include vp-767 {
    margin-left: 7px;
  }
}

.awards__tournaments-prize-count {
  margin: 12px 22px;
  align-self: flex-start;

  font-family: $ff-secondary;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;

  color: $color-black;
  opacity: 0.6;

  @include vp-1279 {
    margin: 1px 0  0 17px;
    font-size: 13px;
  }
}
