.awards__description {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-767 {
    font-size: 15px;
  }
}

.awards__cards-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.awards__tournaments-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.awards__tournaments-button {
  color: $color-black;
}

.awards__tournaments-button-word {
  font-weight: 600;
  font-size: 56px;
  line-height: 90%;
  letter-spacing: -0.03em;
  opacity: 0.4;

  @include vp-1279 {
    font-size: 48px;
  }

  @include vp-767 {
    font-size: 32px;
    opacity: 1;
  }
}
