.awards-card {
  position: relative;
  border-radius: size(30px);
  padding: size(30px) size(30px) size(28px);
  width: size(330px);
  min-height: size(300px);

  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include vp-1279 {
    width: 100%;
    padding: 20px;
    min-width: 170px;
    min-height: 170px;

    border-radius: 20px;
  }

  @include vp-767 {
    border-radius: 15px;
    padding: 20px;
    max-width: 190px;
    min-height: 190px;

    width: 100%;
  }
}

.awards-card__place {
  margin: 0;
  font-weight: 600;
  font-size: size(26px);
  line-height: 120%;
  letter-spacing: -0.03em;

  @include vp-1279 {
    font-size: 20px;
  }
}

.awards-card__tournament {
  position: absolute;
  top: size(72px);
  margin: 0;

  font-family: $ff-secondary;
  font-weight: 500;
  font-size: size(15px);
  line-height: 130%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-1279 {
    top: 52px;
    font-size: 15px;
    padding-right: 20px;
  }

  @include vp-767 {
    top: 49px;
  }
}

.awards-card__description {
  margin: 0;

  font-weight: 600;
  font-size: size(14px);
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;

  @include vp-1279 {
    font-size: 12px;

    br {
      display: none;
    }
  }

  @include vp-767 {
    font-size: 13px;
  }
}
