.banner-card {
  position: relative;
  border-radius: 30px;
  padding: 101px 0 0 30px;
  min-height: 650px;

  transition: opacity $trans-default;


  @include vp-1279 {
    padding: 60px 0 0 25px;
    border-radius: 25px;
    min-height: 450px;
  }

  &--card-1 {
    background-color: $color-default-white;

    .banner-card__subtitle,
    .banner-card__title,
    .banner-card__description,
    .banner-card__title-link {
      opacity: 0;
    }

    .banner-card__title-link {
      transform: translateY(50px);
    }

    .banner-card__images-list-item {
      opacity: 0;
      transform: translateY(50px) scale(0);
      transition:
        opacity 0.7s ease-out,
        transform  0.5s ease-out;
    }
  }

  &--card-2 {
    background-color: $color-banner-background;
  }
}

.banner-card__title-container {
  display: flex;
  flex-direction: column;
  max-width: 540px;
}

.banner-card__subtitle {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;

  transition:
    opacity 0.7s ease-out,
    transform  0.5s ease-out;


  @include vp-1279 {
    font-size: 13px;
  }
}

.banner-card__title {
  padding: 0;
  margin: 32px 0;

  display: flex;
  flex-wrap: wrap;

  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  letter-spacing: -0.03em;

  color: $color-dark-green;
  transition: opacity 0.7s ease-out;

  @include vp-1279 {
    font-size: 28px;
    margin: 24px 0 25px;
  }
}

.banner-card__title--card-2 {
  div {
    display: flex;
    gap: 10px;
    margin-bottom: -4px;

    @include vp-1279 {
      gap: 7;
    }
  }

  @include vp-1279 {
    width: 364px;
    margin: 24px 0 24px;
  }
}

.banner-card__description {
  margin: 0 0 23px;
  padding: 0;
  width: 440px;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.03em;

  transition:
    opacity 0.7s ease-out,
    transform  0.5s ease-out;

  @include vp-1279 {
    margin: 0 0 20px;
    width: 320px;

    font-size: 15px;

    &--card-2 {
      width: 364px;
    }
  }
}

.banner-card__images-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner-card__title-container span:first-child {
  @include vp-1279 {
    display: flex;
    align-items: center;
    gap: 9px;

    svg {
      width: 36px;
      height: 29px;
    }
  }
}

.banner-card__title-images {
  --image-after: initial;
  --image-after-2x: initial;
  --image-before: initial;
  --image-before-2x: initial;

  position: relative;
  display: flex;
  gap: 5px;

  @include vp-1279 {
    gap: 3px;
  }

  &::after,
  &::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40px;

    @include vp-1279 {
      width: 32px;
      height: 32px;
      background-size: 32px;
    }
  }

  &::after {
    margin-left: 10px;
    background-image: var(--image-after);

    @media (min-resolution: $retina-dppx) {
      background-image: var(--image-after-2x, var(--image-after));
    }

    @include vp-1279 {
      margin-left: 5px;
    }
  }

  &::before {
    background-image: var(--image-before);
    margin-left: 1px;

    @media (min-resolution: $retina-dppx) {
      background-image: var(--image-before-2x, var(--image-before));
    }
  }
}


.banner-card__title-wrapper {
  display: flex;
  margin-top: 6px;
}

.banner-card__title-icon-wrapper,
.banner-card__title-green-bg {
  border-radius: 154.23px;
  background-color: $color-green-background;

  @include vp-1279 {
    border-radius: 120px;
  }
}

.banner-card__title-icon-wrapper {
  padding: 10.22px 17.99px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;

  @include vp-1279 {
    padding: 8px 14px;
    width: 50px;
    height: 38px;
  }

  &--card-2 {
    padding: 0;
    margin: 2px 3px;
    width: 50px;
    height: 40px;
    border-radius: 11.25px;

    @include vp-1279 {
      padding: 8px 11px;
      margin: 2px 6px;
      width: 40px;
      height: 32px;
    }
  }
}

.banner-card__title-green-bg {
  padding: 2.57px 23.13px 5px;

  @include vp-1279 {
    padding: 2px 18px 4px;
  }
}

.banner-card__title-link {
  width: 224px;
  min-height: 61px;

  transition:
    background-color $trans-default,
    border-radius $trans-default,
    color $trans-default,
    opacity 0.7s ease-out,
    transform  0.5s ease-out;

  @include vp-1279 {
    width: 193px;
    min-height: 48px;
  }
}

.banner-card__images-list--card-1 .banner-card__images-list-item {
  &--image-1 {
    border-radius: 6px;
    box-shadow: 0 20px 37px 0 rgba(0, 0, 0, 0.16);
    left: 531px;
    top: 327px;
  }

  &--image-2 {
    border-radius: 21.61px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04), 0 2px 2px 0 rgba(0, 0, 0, 0.06), 0 3px 3px 0 rgba(0, 0, 0, 0.07), 0 47px 34px 0 rgba(0, 0, 0, 0.14);
    left: 771.44px;
    top: 71px;
  }

  &--image-3 {
    box-shadow: 0 33px 34px 0 rgba(0, 0, 0, 0.12), inset 5px -5px 12px 4px rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    left: 891.1px;
    top: 295.58px;
  }

  &--image-4 {
    left: 1053.1px;
    top: 84.58px;
  }

  @include vp-1279 {
    &--image-1 {
      left: 373px;
      top: 236px;
    }

    &--image-2 {
      border-radius: 12px;
      left: 470.5px;
      top: 66px;
    }

    &--image-3 {
      border-radius: 12.09px;
      left: 528px;
      top: 229px;
    }

    &--image-4 {
      left: 555px;
      top: 111px;
    }
  }
}

.banner-card__images-list--card-2 .banner-card__images-list-item {
  &--image-1 {
    border-radius: 15px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);
    left: 502.45px;
    top: 352px;
    z-index: 1;
  }

  &--image-2 {
    border-radius: 28.52px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);
    left: 675px;
    top: 50.68px;
  }

  &--image-3 {
    border-radius: 28.52px;
    left: 938px;
    top: 122px;
  }

  &--image-4 {
    border-radius: 14.86px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);
    left: 1051.53px;
    top: 424px;
  }

  &--image-5 {
    left: 598px;
    top: 253px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    font-weight: 400;
    font-size: 7px;
    line-height: 240%;
    text-align: center;
    color: #777777;

    border-radius: 22px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);

    width: 59px;
    height: 59px;
  }

  &--image-6 {
    left: 1131px;
    top: 512px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.05);

    font-weight: 700;
    font-size: 8px;
    line-height: 200%;
    color: #202020;

    border-radius: 45px;
    background-color: $color-banner-background;
    width: 104px;
    height: 29px;
  }


  @include vp-1279 {
    &--image-1 {
      display: none;
    }

    &--image-2 {
      border-radius: 15.02px;
      top: 79px;
      left: 426px;
    }

    &--image-3 {
      border-radius: 15.02px;
      top: 119.2px;
      left: 563px;
    }

    &--image-4 {
      display: none;
    }

    &--image-5 {
      display: none;
    }

    &--image-6 {
      display: none;
    }
  }
}

.banner-card__images-list-item {
  position: absolute;
  overflow: hidden;
}


.banner-card__notebook-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
