.banner-card {
  position: relative;

  border-radius: size(30px);
  padding: size(101px) 0 0 size(30px);
  min-height: size(650px);
  width: size(1382px);

  transition: opacity $trans-default;

  @include vp-1279 {
    padding: 60px 0 0 25px;
    border-radius: 25px;
    min-height: 450px;
    width: 728px;
  }

  &--card-1 {
    background-color: $color-default-white;

    .banner-card__subtitle,
    .banner-card__title,
    .banner-card__description,
    .banner-card__title-link {
      opacity: 0;
    }

    .banner-card__title-link {
      transform: translateY(50px);
    }

    .banner-card__images-list-item {
      opacity: 0;
      transform: translateY(size(50px)) scale(0);
      transition:
        opacity 0.7s ease-out,
        transform  0.5s ease-out;
    }
  }

  &--card-2 {
    background-color: $color-banner-background;
  }
}

.banner-card__title-container {
  display: flex;
  flex-direction: column;
  max-width: size(540px);
}

.banner-card__subtitle {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;

  transition:
    opacity 0.7s ease-out,
    transform  0.5s ease-out;


  @include vp-1279 {
    font-size: 13px;
  }
}

.banner-card__title {
  padding: 0;
  margin: size(32px) 0;

  display: flex;
  flex-wrap: wrap;

  font-weight: 600;
  font-size: size(36px);
  line-height: 115%;
  letter-spacing: -0.03em;

  color: $color-dark-green;
  transition: opacity 0.7s ease-out;

  @include vp-1279 {
    font-size: 28px;
    margin: 24px 0 25px;
  }
}

.banner-card__title--card-2 {
  .banner-card__wrapper {
    display: flex;
    gap: size(10px);
    margin-bottom: -4px;

    @include vp-1279 {
      gap: 7;
    }
  }

  @include vp-1279 {
    width: 364px;
    margin: 24px 0 24px;
  }
}

.banner-card__description {
  margin: 0 0 size(23px);
  padding: 0;
  width: size(440px);

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: size(16px);
  line-height: 140%;
  letter-spacing: -0.03em;

  transition:
    opacity 0.7s ease-out,
    transform  0.5s ease-out;

  @include vp-1279 {
    margin: 0 0 20px;
    width: 320px;

    font-size: 15px;

    &--card-2 {
      width: 364px;
    }
  }
}

.banner-card__images-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner-card__title-container span:first-child {
  @include vp-1279 {
    display: flex;
    align-items: center;
    gap: 9px;

    svg {
      width: 36px;
      height: 29px;
    }
  }
}

.banner-card__title-images {
  --image-after: initial;
  --image-after-2x: initial;
  --image-before: initial;
  --image-before-2x: initial;

  position: relative;
  display: flex;
  gap: size(5px);

  @include vp-1279 {
    gap: 3px;
  }

  &::after,
  &::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    width: size(40px);
    height: size(40px);
    background-size: size(40px);

    @include vp-1279 {
      width: 32px;
      height: 32px;
      background-size: 32px;
    }
  }

  &::after {
    margin-left: size(10px);
    background-image: var(--image-after);

    @media (min-resolution: $retina-dppx) {
      background-image: var(--image-after-2x, var(--image-after));
    }

    @include vp-1279 {
      margin-left: 5px;
    }
  }

  &::before {
    background-image: var(--image-before);
    margin-left: size(1px);

    @media (min-resolution: $retina-dppx) {
      background-image: var(--image-before-2x, var(--image-before));
    }
  }
}


.banner-card__title-wrapper {
  display: flex;
  margin-top: size(6px);
}

.banner-card__title-icon-wrapper,
.banner-card__title-green-bg {
  border-radius: size(154.23px);
  background-color: $color-green-background;

  @include vp-1279 {
    border-radius: 120px;
  }
}

.banner-card__title-icon-wrapper {
  padding: size(10.22px) size(17.99px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: min-content;

  @include vp-1279 {
    padding: 8px 14px;
    width: 50px;
    height: 38px;
  }

  &--card-2 {
    padding: 0;
    margin: size(2px) size(3px);
    width: size(50px);
    height: size(40px);
    border-radius: size(11.25px);

    @include vp-1279 {
      padding: 8px 11px;
      margin: 2px 6px;
      width: 40px;
      height: 32px;
    }
  }
}

.banner-card__title-green-bg {
  padding: size(2.57px) size(23.13px) size(5px);

  @include vp-1279 {
    padding: 2px 18px 4px;
  }
}

.banner-card__title-link {
  width: size(224px);
  min-height: size(61px);

  transition:
    background-color $trans-default,
    border-radius $trans-default,
    color $trans-default,
    opacity 0.7s ease-out,
    transform  0.5s ease-out;

  @include vp-1279 {
    width: 193px;
    min-height: 48px;
  }
}

.banner-card__images-list--card-1 .banner-card__images-list-item {
  &--image-1 {
    left: size(531px);
    top: size(327px);

    img {
      width: size(280px);
      height: size(194.84px);
    }
  }

  &--image-2 {
    left: size(771.44px);
    top: size(71px);

    img {
      width: size(180px);
      height: size(388.91px);
    }
  }

  &--image-3 {
    left: size(891.1px);
    top: size(295.58px);

    img {
      width: size(277px);
      height: size(277px);
    }
  }

  &--image-4 {
    left: size(1053.1px);
    top: size(84.58px);

    img {
      width: size(282px);
      height: size(258px);
    }
  }

  @include vp-1279 {
    &--image-1 {
      left: 373px;
      top: 236px;
    }

    &--image-2 {
      left: 470.5px;
      top: 66px;
    }

    &--image-3 {
      left: 528px;
      top: 229px;
    }

    &--image-4 {
      left: 555px;
      top: 111px;
    }

    img {
      width: auto;
      height: auto;
    }
  }
}

.banner-card__images-list--card-2 .banner-card__images-list-item {
  &--image-1 {
    left: size(502.45px);
    top: size(352px);
    z-index: 1;

    img {
      width: size(235px);
      height: size(124.75px);
    }
  }

  &--image-2 {
    left: size(675px);
    top: size(50.68px);

    img {
      width: size(227px);
      height: size(479.5px);
    }
  }

  &--image-3 {
    left: size(938px);
    top: size(122px);

    img {
      width: size(227px);
      height: size(479.5px);
    }
  }

  &--image-4 {
    left: size(1051.53px);
    top: size(424px);

    img {
      width: size(235px);
      height: size(74.66px);
    }
  }

  &--image-5 {
    left: size(598px);
    top: size(253px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    font-weight: 400;
    font-size: size(7px);
    line-height: 240%;
    text-align: center;
    color: #777777;

    border-radius: size(22px);
    box-shadow: 0 size(7px) size(15px) 0 rgba(0, 0, 0, 0.05);

    width: size(59px);
    height: size(59px);
  }

  &--image-6 {
    left: size(1131px);
    top: size(512px);

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 size(7px) size(15px) 0 rgba(0, 0, 0, 0.05);

    font-weight: 700;
    font-size: size(8px);
    line-height: 200%;
    color: #202020;

    border-radius: size(45px);
    background-color: $color-banner-background;
    width: size(104px);
    height: size(29px);

    svg {
      width: size(15px);
      height: size(12px);
    }
  }


  @include vp-1279 {
    &--image-1 {
      display: none;
    }

    &--image-2 {
      top: size(79px);
      left: size(426px);
    }

    &--image-3 {
      top: size(119.2px);
      left: size(563px);
    }

    &--image-4 {
      display: none;
    }

    &--image-5 {
      display: none;
    }

    &--image-6 {
      display: none;
    }

    img {
      width: auto;
      height: auto;
    }
  }
}

.banner-card__images-list-item {
  position: absolute;
}

.banner-card__image-container {
  overflow: hidden;

  .banner-card__images-list--card-1 .banner-card__images-list-item--image-1 & {
    border-radius: size(6px);
    box-shadow: 0 size(20px) size(37px) 0 rgba(0, 0, 0, 0.16);
  }

  .banner-card__images-list--card-1 .banner-card__images-list-item--image-2 & {
    border-radius: size(21.61px);
    box-shadow: 0 size(1px) size(1px) 0 rgba(0, 0, 0, 0.04),
      0 2px 2px 0 rgba(0, 0, 0, 0.06),
      0 3px 3px 0 rgba(0, 0, 0, 0.07),
      0 47px 34px 0 rgba(0, 0, 0, 0.14);
  }

  .banner-card__images-list--card-1 .banner-card__images-list-item--image-3 & {
    border-radius: size(24px);
    box-shadow: 0 size(33px) size(34px) 0 rgba(0, 0, 0, 0.12),
      inset 5px -5px 12px 4px rgba(255, 255, 255, 0.2);
  }

  .banner-card__images-list--card-2 .banner-card__images-list-item--image-1 & {
    border-radius: size(15px);
    box-shadow: 0 size(7px) size(15px) 0 rgba(0, 0, 0, 0.05);
  }

  .banner-card__images-list--card-2 .banner-card__images-list-item--image-2 & {
    border-radius: size(28.52px);
    box-shadow: 0 size(7px) size(15px) 0 rgba(0, 0, 0, 0.05);
  }

  .banner-card__images-list--card-2 .banner-card__images-list-item--image-3 & {
    border-radius: size(28.52px);
  }

  .banner-card__images-list--card-2 .banner-card__images-list-item--image-4 & {
    border-radius: size(14.86px);
    box-shadow: 0 size(7px) size(15px) 0 rgba(0, 0, 0, 0.05);
  }

  .banner-card__images-list--card-2 .banner-card__images-list-item--image-5 & {
    border-radius: size(22px);
    box-shadow: 0 size(7px) size(15px) 0 rgba(0, 0, 0, 0.05);
  }

  .banner-card__images-list--card-2 .banner-card__images-list-item--image-6 & {
    border-radius: size(45px);
    box-shadow: 0 size(7px) size(15px) 0 rgba(0, 0, 0, 0.05);
  }

  @include vp-1279 {
    .banner-card__images-list--card-1 .banner-card__images-list-item--image-2 & {
      border-radius: 12px;
    }

    .banner-card__images-list--card-1 .banner-card__images-list-item--image-3 & {
      border-radius: 12.09px;
    }
  }
}

.banner-card__notebook-image {
  position: absolute;
  top: size(188px);
  right: size(-33px);
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: size(62.5px);
  height: size(50px);


  background-color: $color-green-background;
  border-radius: 15px;


  @include vp-1279 {
    display: none;
  }
}
