.banner .container {
  padding: 80px 30px;

  @include vp-1279 {
    padding: 60px 20px;
  }

  @include vp-767 {
    display: none;
  }
}

.banner__cards-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1279 {
    // font-size: 12px;
  }

  // .banner__cards-list-item {
  //   &:first-child {
  //     display: none;
  //   }
  // }
}

.banner__pagination-buttons {
  margin: 0;
  padding: 0;
  list-style: none;

  // !!!!
  display: none;

  @include vp-1279 {
    // font-size: 12px;
  }
}

section:not(.banner) {
  display: none;
}

header,
footer {
  display: none;
}
