.banner-card__subtitle {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;

  @include vp-1279 {
    font-size: 13px;
  }
}

.banner-card__title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  letter-spacing: -0.03em;
  color: $color-dark-green;

  @include vp-1279 {
    font-size: 13px;
  }
}

.banner-card__description {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;

  @include vp-1023 {
    font-size: 15px;
  }
}

.banner-card__images-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
