.btn-fill {
  height: min-content;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  font-family: $ff-primary;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  white-space: nowrap;

  color: $color-default-white;
  background-color: $color-black;


  @include vp-1279 {
    border-radius: 12px;
    font-size: 13px;
    line-height: 120%;
  }
}
