.btn {
  color: $color-default-black;

  background-color: $color-default-white;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
