.btn {
  padding: 0;
  color: $color-default-black;
  background-color: $color-transparent;
  border: none;

  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
