.clients .container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  row-gap: 123px;


  @include vp-1023 {
    padding: 0 20px;
    row-gap: 88px;
  }

  @include vp-767 {
    padding: 32px 15px;
  }
}

.clients__title-container {
  padding: 0 354px;

  @include vp-1023 {
    padding: 0 127.5px;
  }

  @include vp-767 {
    display: none;
  }
}

.clients__title {
  text-align: center;
}

.clients__list {
  margin: 0;

  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 65px;
  row-gap: 91px;

  @include vp-1023 {
    padding: 0 41.5px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 61px;
  }

  @include vp-767 {
    padding: 0 6px;
    row-gap: 0;
  }
}

.clients__list-item {
  @include vp-767 {
    width: min-content;
    max-width: 111px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;

  @include vp-1023 {
    transform: scale(0.89);
  }

  @include vp-767 {
    min-height: 100px;
    transform: scale(0.8);
  }
}

