.clients .container {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  row-gap: 123px;


  @include vp-1279 {
    padding: 0 20px;
    row-gap: 88px;
  }

  @include vp-767 {
    padding: 32px 15px;
  }
}

.clients__title-container {
  padding: 0 354px;

  @include vp-1279 {
    padding: 0 127.5px;
  }

  @include vp-767 {
    display: none;
  }
}

.clients__title {
  text-align: center;
}

.clients__list {
  margin: 0;

  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 65px;
  row-gap: 91px;

  @include vp-1279 {
    padding: 0 43.5px 0 50px;
    grid-template-columns: repeat(3, 1fr);
    gap: 61px 7px;
  }

  @include vp-767 {
    padding: 0 17px;
    gap: 0 10px;
  }
}

.clients__list-item {
  @include vp-1279 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.clients__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;

  color: $color-dark-gray;

  transition: color $trans-default;

  @include vp-1279 {
    max-width: 190px;
    max-height: 50px;

    padding: 18px;
  }

  @include vp-767 {
    padding: 0;
    max-width: 85px;
    min-height: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 306px;
    height: 306px;
    background-color: $color-default-white;
    border-radius: 50%;

    transform: translateX(-50%) translateY(-50%);
    transition: all $trans-default;

    z-index: -1;

    @include vp-1439 {
      width: 242px;
      height: 242px;
    }

    @include vp-1279 {
      display: none;
    }
  }

  &:hover,
  &:focus-visible {
    outline: none;

    color: $color-black;
  }

  &:active {
    color: $color-dark-gray;
  }

  &:not(:hover):not(:active) {
    &::before {
      width: 0;
      height: 0;
    }
  }
}


.clients__link--vkontakte {
  @include vp-1279 {
    padding-top: 10px;
    padding-right: 25px;

    svg {
      transform: scale(1);
      width: 80%;
      height: 80%;
    }
  }

  @include vp-767 {
    padding: 22px;
  }
}

.clients__link--nlmk {
  @include vp-1279 {
    svg {
      transform: scale(1, 0.8);
    }
  }

  @include vp-767 {
    max-width: 70px;
  }
}

.clients__link--rostec {
  @include vp-1279 {
    padding: 28px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.clients__link--schlumberger {
  @include vp-1279 {
    padding: 0 2px 3px;

    svg {
      transform: scale(0.9, 1);
    }
  }

  @include vp-767 {
    padding: 0;
  }
}

.clients__link--sibgur {
  @include vp-767 {
    max-width: 69px;
  }
}

.clients__link--uralchem {
  @include vp-767 {
    max-width: 93px;
  }
}

