.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.contacts__link {
  font-family: $ff-secondary;

  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.01em;

  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;

  color: $color-black;


  @include vp-1279 {
    font-size: 15px;
    letter-spacing: -0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.contacts__description {
  padding: 0;
  margin: 0 0 0;

  font-family: $ff-primary;
  font-weight: 500;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;

  opacity: 0.6;

  @include vp-767 {
    display: none;
  }
}

.contacts__icon-wrapper {
  display: none;

  @include vp-767 {
    position: relative;
    top: 3px;
    display: inline-flex;
    padding-left: 5px;
  }
}
