.contacts {
  font-family: $ff-tt-commons;
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.01em;

  @include vp-1023 {
    font-size: 15px;
    letter-spacing: -0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: $color-black;
}

.contacts__description {
  font-family: $ff-tt-runs;
  font-weight: 500;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;

  opacity: 0.6;
}
