.footer .container {
  position: relative;
  padding: 80px 30px;
  display: flex;
  flex-wrap: wrap;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 51px 0;

  row-gap: 90px;


  width: 730px;
}

.footer__link {
  width: 250px;
  min-height: 61px;
}

.footer__social-list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  min-height: 48px;
  gap: 5px;
}

.footer__social-link {
  display: flex;
  border-radius: 12px;
  // padding: 16px 14px;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: $color-default-white;
}

.footer__contacts-container {
  display: flex;
  flex-direction: column;
  padding: 51px 0;
}

.footer__contacts-description {
  display: flex;
  width: 373px;

  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;

  flex-grow: 0;
}

.footer__copyright {
  margin-top: 22px;
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.03em;

  @include vp-1279 {
    font-size: 15px;
  }

  @include vp-767 {
    font-size: 13px;
  }
}

.footer__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 87px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: lowercase;

  @include vp-1279 {
    font-size: 46px;
  }

  @include vp-767 {
    // font-size: 32px;
  }
}

.footer__privacy-link {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;

  opacity: 0.4;

  @include vp-1279 {
    font-size: 15px;
  }

  @include vp-767 {
    // font-size: 32px;
  }
}

.footer__title-container {
  flex-grow: 1;
}

.footer__logo {
  position: absolute;
  right: 30px;
  top: 131px;
}
