.footer__social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}


.footer__copyright {
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.03em;

  @include vp-1279 {
    font-size: 15px;
  }

  @include vp-767 {
    font-size: 13px;
  }
}


.footer__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 87px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-transform: lowercase;

  @include vp-1279 {
    font-size: 46px;
  }

  @include vp-767 {
    // font-size: 32px;
  }
}

.footer__privacy-link {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;

  opacity: 0.4;

  @include vp-1279 {
    font-size: 15px;
  }

  @include vp-767 {
    // font-size: 32px;
  }
}
