.header {
  position: relative;

  width: 100%;
  transition: background-color $trans-default;

  .container {
    padding: 12px 30px 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    border-bottom: $border;

    @include vp-1279 {
      position: relative;
      padding: 9px 20px 10px;
      min-height: 52px;
      z-index: 10;

      border-bottom: none;
    }

    @include vp-767 {
      padding: 10px 15px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-light-gray;
  }
}


.header.is-active {
  position: relative;

  @include vp-1279 {
    background-color: $color-default-white;

    &::before {
      content: "";
      background-color: $color-light-gray;
      z-index: 99;
    }
  }
}


.header__logo {
  margin-right: auto;
  display: flex;
  align-items: center;

  svg {
    width: 73px;
    height: 24px;
    display: block;
  }

  @include vp-1279 {
    svg {
      width: 55px;
      height: 18px;
    }
  }
}

.header__star-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  @include vp-1279 {
    display: none;
  }
}

.header__star-count {
  font-weight: 500;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-align: center;
}

.header__star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;

  color: $color-default-white;
  border-radius: 12px;
  background: $color-black;
}

.header__star svg {
  display: flex;
  align-items: center;
  justify-content: center;
}
