.header {
  position: relative;

  width: 100%;
  transition: background-color $trans-default;

  .container {
    padding: 12px 30px 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;

    border-bottom: $border;

    @include vp-1279 {
      position: relative;
      padding: 9px 20px 10px;
      min-height: 52px;
      z-index: 10;

      border-bottom: none;
    }

    @include vp-767 {
      padding: 10px 15px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: size(1px);
    background-color: $color-light-gray;
  }
}


.header.is-active {
  position: relative;

  @include vp-1279 {
    background-color: $color-default-white;

    &::before {
      content: "";
      background-color: $color-light-gray;
      z-index: 99;
    }
  }
}


.header__logo {
  margin-right: auto;
  display: flex;
  align-items: center;

  svg {
    width: size(73px);
    height: size(24px);
    display: block;
  }

  @include vp-1279 {
    svg {
      width: 55px;
      height: 18px;
    }
  }
}

.header__star-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: size(10px);
  min-width: size(67px);

  @include vp-1279 {
    display: none;
  }
}

.header__star-count {
  font-weight: 500;
  font-size: size(13px);
  line-height: 110%;
  letter-spacing: -0.04em;
  text-align: center;
}

.header__star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: size(36px);
  height: size(36px);

  color: $color-default-white;
  border-radius: size(12px);
  background-color: $color-black;

  border: none;

  transition:
    background-color $trans-default,
    color $trans-default;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    outline: none;
    color: $color-black;
    background-color: $color-default-white;
  }

  &:active {
    background-color: $color-light-gray;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &.is-active {
    background-color: $color-light-gray;
    color: $color-black;

    &:hover {
      background-color: $color-black;
      color: $color-default-white;
    }

    svg {
      animation: starActive 0.3s ease-out forwards;
    }
  }
}


.header__star svg {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform $trans-default;
}


@keyframes starActive {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
