.hero__title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 64px;
  line-height: 125%;
  letter-spacing: -0.03em;

  @include vp-1919 {
    font-size: 50px;
  }

  @include vp-1023 {
    font-size: 38px;
    letter-spacing: -0.01em;
  }

  @include vp-374 {
    font-size: 32px;
  }
}

.hero__years-count {
  font-weight: 600;
  font-size: 70px;
  line-height: 90%;
  letter-spacing: -0.03em;

  @include vp-1919 {
    font-size: 56px;
  }

  @include vp-1023 {
    font-size: 38px;
  }

  @include vp-767 {
    font-size: 32px;
  }
}

.hero__years-text {
  font-family: $ff-secondary;
  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.01em;

  @include vp-1023 {
    font-size: 15px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

.hero__years-description {
  font-weight: 500;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;

  opacity: 0.6;

  @include vp-1023 {
    font-size: 13px;
  }

  @include vp-767 {
    font-size: 12px;
  }
}

.hero__presentation-title {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;

  @include vp-1023 {
    font-size: 15px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__awards-list {
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-767 {
    display: none;
  }
}

.hero__awards-count {
  font-weight: 500;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: -0.04em;

  @include vp-1919 {
    opacity: 0.8;
  }
}
