.hero {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;

    width: size(1px);
    height: size(130px);
    transform: translateX(size(-1px));
    background-color: $color-light-gray;

    @include vp-1279 {
      transform: translateX(0);
    }

    @include vp-767 {
      display: none;
    }
  }
}

.hero .container {
  padding: size(61px) size(30px) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: size(751px);

  @include vp-1279 {
    padding: 50px 20px 0;
    min-height: 970px;
  }

  @include vp-767 {
    padding: 32px 15px 0;
    min-height: 648px;
  }
}


.hero__title-awards-wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  margin: 0;
  padding: 0;
  max-width: size(607px);

  font-weight: 600;
  font-size: size(50px);
  line-height: 125%;
  letter-spacing: -0.03em;


  @include vp-1279 {
    font-size: 38px;
    letter-spacing: -0.01em;
    max-width: 368px;
  }

  @include vp-767 {
    font-size: 32px;
  }
}

.hero__info-container {
  position: relative;
  display: grid;
  padding-bottom: size(39px);
  border-bottom: size(1px) solid $color-light-gray;
  width: 100%;
  grid-template-columns: minmax(size(409px), max-content) 1fr 1fr min-content;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;

    width: size(1px);
    height: 100%;
    background-color: $color-light-gray;

    @include vp-767 {
      display: none;
    }
  }

  @include vp-1279 {
    column-gap: 20px;
    padding-bottom: 19px;

    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: repeat(2, min-content) minmax(64px, min-content);
  }

  @include vp-767 {
    padding-bottom: 15px;
    row-gap: 34px;
    grid-template-columns: 50% 1fr;
    grid-template-rows: repeat(2, min-content)
    // grid-template-rows: repeat(2, 1fr);
  }
}

.hero__years {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/3;

  align-self: flex-end;
  display: flex;
  column-gap: size(16px);
  margin-bottom: size(24px);

  @include vp-1279 {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 0;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-between;
    min-height: 77px;
  }

  @include vp-767 {
    grid-row: 1/2;
    padding: 20px 0 38px;
    row-gap: 12px;
    border-right: $border;
  }
}

.hero__years-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: size(5px);
}

.hero__years-count {
  margin: 0;
  padding: 0;
  align-self: flex-end;

  font-weight: 600;
  font-size: size(56px);
  line-height: 90%;
  letter-spacing: -0.03em;

  @include vp-1279 {
    align-self: flex-start;
    font-size: 38px;


    @include vp-767 {
      position: relative;
      top: 3px;
      font-size: 32px;
    }
  }
}

.hero__years-text {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 500;
  font-size: size(18px);
  line-height: 125%;
  letter-spacing: -0.01em;

  @include vp-1279 {
    position: absolute;
    left: 65px;
    top: 13px;

    font-size: 15px;
  }

  @include vp-767 {
    left: 53px;
    top: 31px;

    font-size: 16px;
  }
}

.hero__years-description {
  margin: 0;
  padding: 0;
  max-width: size(193px);

  font-weight: 500;
  font-size: size(13px);
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;

  opacity: 0.6;

  @include vp-1279 {
    font-size: 13px;
  }

  @include vp-767 {
    font-size: 12px;
  }
}

.hero__contacts {
  grid-column: 2/3;
  grid-row: 1/3;

  .contacts__item {
    height: min-content;
  }

  .contacts__item--telegram {
    margin: size(30px) 0 0;
    display: flex;
    flex-direction: column;
    row-gap: size(10px);
  }

  @include vp-1279 {
    grid-column: 2/3;
    grid-row: 1/2;

    .contacts__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);
      row-gap: 4px;
    }

    .contacts__item--telegram {
      margin: 0;
      grid-column: 2/3;
      grid-row: 1/-1;
    }
  }

  @include vp-767 {
    padding: 20px 0 17px;

    .contacts__list {
      display: flex;
      flex-direction: column;
    }

    .contacts__item--telegram {
      margin-top: 13px;
    }
  }
}


.hero__presentation {
  grid-column: 3/4;
  padding-top: size(17px);

  @include vp-1279 {
    padding-top: unset;

    grid-column: 1/2;
    grid-row: 3/4;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__presentation-title-container {
  display: flex;
  flex-direction: column;
  row-gap: size(5px);
  grid-column: 3/4;

  margin: 0;

  min-width: size(342px);

  @include vp-1279 {
    grid-column: 2/3;
    grid-row: 2/3;
    min-height: 103px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__presentation-title {
  margin: 0;
  padding: 0;

  font-size: size(16px);
  font-family: $ff-secondary;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.02em;

  @include vp-1279 {
    position: relative;
    top: -5px;
    font-size: 15px;
  }
}

.hero__start-link {
  grid-column: 4/5;
  align-self: flex-end;

  margin-left: size(60px);
  width: size(250px);
  min-height: size(61px);

  @include vp-1279 {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 0;
    width: 217px;
    min-height: 48px;
  }

  @include vp-767 {
    width: 100%;
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

.hero__awards-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-flow: column wrap;
  max-height: size(400px);
  gap: size(10px);

  @include vp-1279 {
    display: none;
  }
}

.hero__awards-count {
  font-weight: 500;
  font-size: size(12px);
  line-height: 110%;
  letter-spacing: -0.04em;
}

.hero__awards-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: size(10px);
  transition: opacity $trans-default;

  &:hover,
  &:focus-visible {
    outline: none;

    .hero__awards__icon-container {
      background-color: $color-green-background;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.hero__awards__icon-container {
  display: flex;
  border-radius: size(12px);
  align-items: center;
  justify-content: center;

  width: size(48px);
  height: size(48px);
  transition: background-color $trans-default;

  background-color: $color-default-white;

  svg {
    width: size(28px);
    height: size(28px);
  }
}

.hero__video-container {
  position: absolute;
  top: size(215px);
  left: 50%;
  width: size(456px);
  border-radius: size(20px);


  overflow: hidden;
  transform: translateX(-50%);

  @include vp-1279 {
    border-radius: 20px;
    width: unset;
    top: 290px;
    min-width: 404px;
  }

  @include vp-767 {
    top: 210px;
    min-width: 240px;
  }
}
