.main-nav {
  display: flex;

  @include vp-1279 {
    width: 100%;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 1px;

  color: $color-black;
  list-style: none;

  @include vp-1279 {
    position: absolute;
    left: 0;
    top: 0;

    padding: 50px 20px;
    flex-direction: column;
    align-items: start;

    font-size: 13px;
    line-height: 110%;
    letter-spacing: -0.03em;

    transition: transform 0.3s $tf-default;
    transform: translateY(-100%);
  }

  @include vp-767 {
    font-size: 24px;
  }
}

.main-nav__list.is-active {
  transform: translateY(0);
}

.main-nav__link {
  padding: 11px 16px;

  font-weight: 500;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-transform: lowercase;

  color: inherit;

  @include vp-1279 {
    padding: 5px 0;

    font-weight: 600;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: -0.03em;
    text-transform: none;
  }
}

.main-nav__toggle {
  display: none;

  @include vp-1279 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;

    cursor: pointer;
    z-index: 2;
  }
}

.main-nav__toggle svg {
  position: absolute;
  width: 32px;
  height: 32px;
  transition: transform $trans-default, opacity $trans-default;

  &:first-child {
    opacity: 0;
    transform: rotate(0) scale(0);
  }

  &:last-child {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

.main-nav__toggle.is-active {
  padding: 11px;

  svg {
    width: 20px;
    height: 20px;

    &:first-child {
      opacity: 1;
      transform: rotate(360deg) scale(1);
    }

    &:last-child {
      opacity: 0;
      transform: rotate(360deg) scale(0);
    }
  }
}
