.main-nav {
  display: flex;

  @include vp-1279 {
    width: 100%;
  }
}

@include vp-1279 {
  .main-nav.is-active .main-nav__list {
    transform: translateY(0);
    transition-delay: $tf-default;
  }

  .main-nav.is-active .main-nav__link {
    opacity: 1;
    transition-delay: 0ms, 0ms, 500ms;
  }

  .main-nav.is-active .main-nav__link:active {
    transition-delay: 0ms, 0ms, 0ms;
    opacity: 0.3;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: size(1px);
  flex-wrap: wrap;
  color: $color-black;
  list-style: none;

  @include vp-1279 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    padding: 102px 20px 80px;
    flex-direction: column;
    gap: 10px;
    align-items: start;

    font-size: 13px;
    line-height: 110%;
    letter-spacing: -0.03em;

    background-color: $color-default-white;
    z-index: -2;

    transition: transform 0.3s $tf-default;
    transition-delay: 300ms;
    transform: translateY(-100%);
  }

  @include vp-767 {
    padding: 92px 20px 89px;
  }
}

.main-nav__link {
  padding: size(11px) size(16px);

  font-weight: 500;
  font-size: size(13px);
  line-height: 110%;
  letter-spacing: -0.03em;
  text-transform: lowercase;

  text-decoration: underline;
  text-underline-offset: 0;
  text-decoration-skip-ink: all;
  text-decoration-color: $color-transparent;

  transition:
    text-underline-offset $trans-default,
    text-decoration-color $trans-default,
    opacity $trans-default;

  color: inherit;

  &:hover,
  &:focus-visible {
    outline: none;

    text-underline-offset: size(4px);
    text-decoration-color: $color-black;
  }

  &:active {
    opacity: 0.3;
  }

  @include vp-1279 {
    padding: 5px 0;

    font-weight: 600;
    font-size: 28px;
    line-height: 115%;
    letter-spacing: -0.03em;
    text-transform: none;

    transition:
      text-underline-offset $trans-default,
      text-decoration-color $trans-default,
      opacity $trans-default;

    transition-delay: 0ms;
    opacity: 0;

    &:hover {
      text-underline-offset: 2px;
    }
  }

  @include vp-767 {
    font-size: 24px;
  }
}

.main-nav__toggle {
  display: none;

  @include vp-1279 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: auto;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;

    cursor: pointer;
    z-index: 2;
  }
}

.main-nav__toggle svg {
  position: absolute;
  width: 32px;
  height: 32px;
  transition: transform $trans-default, opacity $trans-default;

  &:first-child {
    opacity: 0;
    transform: rotate(0) scale(0);
  }

  &:last-child {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

.main-nav__toggle.is-active {
  padding: 11px;

  svg {
    width: 20px;
    height: 20px;

    &:first-child {
      opacity: 1;
      transform: rotate(360deg) scale(1);
    }

    &:last-child {
      opacity: 0;
      transform: rotate(360deg) scale(0);
    }
  }
}
