
.portfolio__description {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-1279 {
    font-size: 15px;
  }

  @include vp-767 {
    opacity: 1;
  }

  &:first-of-type {
    display: none;

    @include vp-767 {
      display: inline;
    }
  }
}

.portfolio__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.portfolio__card-title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.03em;

  @include vp-1023 {
    font-size: 15px;
  }

  @include vp-767 {
    // font-size: 15px;
  }
}

.portfolio__card-description {
  margin: 0;
  padding: 0;


  font-family: $ff-secondary;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-1023 {
    font-size: 15px;
  }

  @include vp-767 {
    // font-size: 15px;
  }
}
