
.portfolio .container {
  padding: size(130px) size(30px);

  display: flex;
  flex-direction: column;


  @include vp-1279 {
    padding: 80px 20px 81px;
  }

  @include vp-767 {
    overflow: hidden;
    padding: 71px 15px 0;
  }
}

.portfolio__title-container {
  position: relative;
  display: flex;
  justify-content: space-between;

  border-top: $border;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;

    width: size(1px);
    height: size(130px);
    transform: translateX(size(-1px));
    background-color: $color-light-gray;

    @include vp-1279 {
      transform: translateX(0);
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-767 {
    flex-direction: column;
    border-top: none;
  }
}

.portfolio__title-wrapper {
  padding: size(40px) size(120px) 0 size(39px);
  display: flex;
  flex-direction: column;
  row-gap: size(24px);
  min-width: size(690px);
  width: min-content;

  @include vp-1279 {
    padding: 20px 20px 0;
    row-gap: 19px;
    min-width: 364px;
    font-size: 15px;
  }

  @include vp-767 {
    row-gap: 8px;
    min-width: 100%;
    padding: 0 0 70px;
    border-left: none;
    border-bottom: $border;
  }
}

.portfolio__title {
  @include vp-767 {
    margin-bottom: 6px;
  }
}

.portfolio__section-description {
  flex-grow: 1;
  padding-top: size(41px);

  @include vp-1279 {
    padding-top: 20px;
  }

  @include vp-767 {
    order: 1;
  }
}

.portfolio__description {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: size(16px);
  line-height: 140%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-1279 {
    font-size: 15px;
  }

  @include vp-767 {
    opacity: 1;
  }

  &:first-of-type {
    display: none;

    @include vp-767 {
      display: inline;
    }
  }
}

.portfolio__list {
  margin: size(79px) 0 0;
  padding: 0;

  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, size(447px));
  grid-template-rows: auto-fill;
  justify-content: center;
  row-gap: size(79px);
  column-gap: size(19.5px);

  @include vp-1279 {

    margin: 60px 0 0;
    row-gap: 57px;
    column-gap: 15px;
    grid-template-columns: repeat(2, 357px);
  }

  @include vp-767 {
    justify-content: flex-start;
    margin: 0;
    gap: 57px 10px;
    display: flex;
  }
}

.portfolio__list.swiper {
  display: contents;

  @include vp-767 {
    display: flex;
    margin-right: 30px;
    width: 315px;
  }
}

.portfolio__list-item {
  @include vp-767 {
    min-width: max-content;
  }
}

.portfolio__link {
  display: flex;
  flex-direction: column-reverse;
  row-gap: size(10px);
  transition: opacity $trans-default;

  @include vp-767 {
    row-gap: 6px;
  }

  img {
    width: size(447.47px);
    height: size(450.74px);

    @include vp-1279 {
      width: 356.49px;
      height: 349.58px;
    }

    @include vp-767 {
      width: unset;
      height: unset;
    }
  }

  &:hover,
  &:focus-visible {
    outline: none;

    .portfolio__card-image-wrapper {
      border-radius: size(40px);
    }

    img {
      transform: scale(1.02);
    }
  }


  &:active {
    opacity: 0.3;
  }
}


.portfolio__swiper-list {
  @include vp-767 {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 24px 0 0;
    padding: 0;
    row-gap: 71.5px;
  }
}

.portfolio__swiper-item {
  display: contents;

  @include vp-767 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.portfolio__swiper-item:last-child {
  @include vp-767 {
    .portfolio__swiper-title {
      margin: 0 0 39px;
    }
  }
}

.portfolio__swiper-title {
  display: none;

  @include vp-767 {
    display: block;
    margin: 0 0 38px;
    padding: 0;

    align-self: flex-start;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
  }
}


.portfolio__card-title {
  margin: size(13px) size(20px) 0;
  padding: 0;

  font-weight: 600;
  font-size: size(18px);
  line-height: 125%;
  letter-spacing: -0.03em;

  @include vp-1279 {
    font-size: 15px;
    margin: 10px 16px 0;
  }

  @include vp-767 {
    margin: 8px 10px 0;
  }
}

.portfolio__card-description {
  margin: 0 size(20px);
  padding: 0;


  font-family: $ff-secondary;
  font-weight: 500;
  font-size: size(15px);
  line-height: 130%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-1279 {
    font-size: 15px;

    margin: 0 15px;
  }

  @include vp-767 {
    margin: 0 10px;
  }
}

.portfolio__card-image-wrapper {
  display: block;
  border-radius: size(30px);
  overflow: hidden;

  background-color: $color-light-gray;

  transition: border-radius $trans-default;

  @include vp-1023 {
    border-radius: 20px;
  }

  @include vp-767 {
    border-radius: 15px;
  }

  img {
    transition: transform $trans-default;
  }
}

.portfolio__button {
  margin-top: size(81px);
  align-self: center;
  min-width: size(234px);
  min-height: size(61px);


  @include vp-1023 {
    margin-top: 47px;
    min-width: 203px;
    min-height: 48px;
  }

  @include vp-767 {
    margin-top: 40px;
    min-width: unset;
    width: 100%;
  }
}

