.presentation {
  display: flex;
  align-items: center;
  column-gap: size(12px);
  height: min-content;

  @include vp-1279 {
    column-gap: 8px;
  }
}

.presentation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: size(400px);

  gap: 5px;

  @include vp-1279 {
    column-gap: 3px;
  }
}

.presentation__link {
  border-radius: size(15px);
  padding: 0 size(16px);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: size(49px);
  width: fit-content;

  font-family: $ff-primary;
  font-weight: 600;
  font-size: size(14px);
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  text-align: center;

  color: $color-black;
  background-color: $color-default-white;

  @include vp-1279 {
    padding: 0 14.5px;

    min-height: 44px;
    column-gap: 3px;
  }
  transition: background-color $trans-default;

  &:hover,
  &:focus-visible {
    outline: none;
    background-color: $color-green-background;
  }

  &:active {
    opacity: 0.3;
  }

  &--disabled {

    pointer-events: none;
    opacity: 0.3;
  }
}

.presentation__description {
  margin: 0;
  padding: 0;
  max-width: size(159px);
  font-weight: 500;
  font-size: size(13px);
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;
  opacity: 0.6;
}
