.presentation {
  display: flex;
  align-items: center;
  column-gap: 12px;
  height: min-content;
}

.presentation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 5px;
}

.presentation__link {
  border-radius: 15px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 49px;
  width: fit-content;

  font-family: $ff-primary;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  text-align: center;

  color: $color-black;
  background-color: $color-default-white;
}

.presentation__description {
  margin: 0;
  padding: 0;
  max-width: 159px;
  font-weight: 500;
  font-size: 13px;
  line-height: 110%;
  letter-spacing: -0.04em;
  text-transform: lowercase;
  opacity: 0.6;
}
