.projects .container {
  padding: size(174px) size(30px) 0;

  overflow: hidden;

  @include vp-1279 {

    padding: 107px 20px 0;
  }

  @include vp-767 {
    overflow: hidden;
    padding: 38px 15px;
  }
}

.projects__title-container {
  position: relative;
  display: flex;
  justify-content: space-between;

  border-top: $border;

  @include vp-767 {
    row-gap: 22px;
    flex-direction: column;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;

    width: size(1px);
    height: 100%;
    transform: translateX(size(-1px));
    background-color: $color-light-gray;

    @include vp-1279 {
      transform: translateX(0);
    }

    @include vp-767 {
      display: none;
    }
  }

  @include vp-767 {
    flex-direction: column;
    border-top: none;
  }
}

.projects__section-description {
  flex-grow: 1;
  padding-top: size(41px);

  @include vp-1279 {
    padding-top: 21px;
  }
}

.projects__title-wrapper {
  padding: size(40px) 0 0 size(39px);
  display: flex;
  row-gap: 24px;
  min-width: 690px;
  width: min-content;

  @include vp-1279 {
    padding: 20px 0 0 19px;
    row-gap: 19px;
    min-width: 364px;
    font-size: 15px;
  }

  @include vp-767 {
    row-gap: 8px;
    min-width: 100%;
    padding: 0;
    border-left: none;
  }
}


.projects__slides {
  margin: size(78px) 0 0;
  padding: 0;
  display: flex;
  column-gap: size(20px);

  list-style: none;
  max-width: size(330px);

  @include vp-1279 {
    max-width: 357px;

    margin: 54px 0 0;
    column-gap: 15px;
  }

  @include vp-767 {
    margin: 40px 0 0;
    column-gap: 10px;
    max-width: 315px;
  }
}

.projects__pagination-buttons-container {
  display: flex;
  column-gap: size(15px);
  align-items: flex-start;

  @include vp-1279 {
    column-gap: 10px;
  }

  @include vp-767 {
    display: none;
  }
}

.projects__pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: size(20px);
  width: size(61px);
  height: size(61px);

  flex-shrink: 0;

  transition:
    opacity $trans-default,
    background-color $trans-default;

  background-color: $color-default-white;
  border-radius: size(15px);

  &--next-btn {
    transform: rotate(180deg);
  }

  svg {
    transition: transform 0.1s ease;

    width: size(20px);
    height: size(20px);

    @include vp-1279 {
      width: unset;
      height: unset;
    }
  }

  @include vp-1279 {
    padding: 16px;
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }


  &:hover,
  &:focus-visible {
    outline: none;
    background-color: $color-green-background;
  }

  &:active {
    svg {
      transform: translateX(size(-2px));
    }
  }
}
