.projects-slide {

  --image-1x: initial;
  --image-2x: initial;

  position: relative;

  min-width: size(330px);
  min-height: size(320px);
  padding: size(29px) size(30px);

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: size(5px);

  border-radius: size(30px);

  background-size: 100% 100%;
  background-image: var(--image-1x);

  transition:
    border-radius $trans-default,
    transform $trans-default;

  @media (min-resolution: $retina-dppx) {
    background-image: var(--image-2x, var(--image-1x));
  }

  @include vp-1279 {
    min-width: 357px;
    min-height: 280px;
    padding: 20px;
    border-radius: 20px;
  }

  @include vp-767 {
    min-width: unset;
    max-width: 315px;
    min-height: 240px;
    padding: 21px 20px;
    border-radius: 15px;
  }

  &:hover,
  &:focus-visible {
    outline: none;
    border-radius: size(50px);
    transform: scale(1.02);

    @include vp-767 {
      border-radius: 30px;
    }
  }

  &:active {
    background-color: $color-light-gray;
  }
}


.projects-slide__subtitle {
  margin: 0 0 size(5px);
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 500;
  font-size: size(12px);
  line-height: 130%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-767 {
    margin: 0;
  }
}

.projects-slide__title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: size(18px);
  line-height: 125%;
  letter-spacing: -0.03em;

  @include vp-1279 {
    font-size: 15px;
  }
}

.projects-slide__description {
  margin: 0;
  padding: 0 size(50px) 0 0;

  font-family: $ff-secondary;
  font-weight: 400;
  font-size: size(16px);
  line-height: 140%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-1279 {
    font-size: 15px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.projects-slide__image-list {
  position: absolute;
  top: size(30px);
  left: size(30px);

  display: flex;
  margin: 0;
  padding: 0;
  column-gap: size(5px);

  list-style: none;


  @include vp-1279 {
    top: 20px;
    left: 20px;
  }

  @include vp-767 {
    top: 19px;
    left: 20px;
  }
}

.projects-slide__image-list-item {
  overflow: hidden;
  border-radius: size(12px);


  @include vp-767 {
    border-radius: 10px;
  }

  img {
    width: size(64px);
    height: size(64px);

    @include vp-1279 {
      width: auto;
      height: auto;
    }
  }
}

.projects-slide__image-list-item:first-child {
  outline: size(2.5px) solid rgba(255, 255, 255, 0.7);
}

.projects-slide__image-list-item:last-child {
  position: relative;
  color: $color-default-white;

  &::before {
    content: "+"attr(data-images-count);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    font-weight: 600;
    font-size: size(16px);
    line-height: 120%;
    letter-spacing: -0.03em;
    text-transform: lowercase;

    background-color: rgba(14, 14, 14, 0.6);

    @include vp-1279 {
      font-size: 14px;
    }

    @include vp-767 {
      font-size: 13px;
    }
  }
}
