.projects .container {
  padding: 173px 30px 0;

  overflow: hidden;

  @include vp-1279 {

    padding: 107px 20px 0;
  }

  @include vp-767 {
    overflow: hidden;
    padding: 38px 15px;
  }
}

.projects__title-container {
  display: flex;
  justify-content: space-between;

  @include vp-767 {
    row-gap: 24px;
    flex-direction: column;
  }
}

.projects__section-description {
  flex-grow: 1;
  padding-top: 41px;

  @include vp-1279 {
    padding-top: 21px;
  }
}

.projects__title-wrapper {
  padding: 40px 0 0 40px;
  display: flex;
  row-gap: 24px;
  min-width: 690px;
  width: min-content;

  @include vp-1279 {
    padding: 21px 0 0 20px;
    row-gap: 19px;
    min-width: 364px;
    font-size: 15px;
  }

  @include vp-767 {
    row-gap: 8px;
    min-width: 100%;
    padding: 0;
  }
}


.projects__slides {
  margin: 80px 0 0;
  padding: 0;
  display: flex;
  column-gap: 20px;

  list-style: none;

  @include vp-1279 {
    margin: 54px 0 0;
    column-gap: 15px;
  }

  @include vp-767 {
    margin: 40px 0 0;
    column-gap: 10px;
    max-width: 315px;
  }
}

.projects__pagination-buttons-container {
  display: flex;
  column-gap: 15px;
  align-items: flex-start;

  @include vp-1279 {
    column-gap: 10px;
  }

  @include vp-767 {
    display: none;
  }
}

.projects__pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 61px;
  height: 61px;

  flex-shrink: 0;

  background-color: $color-default-white;
  border-radius: 15px;


  &[aria-label="следующий слайд"] {
    transform: rotate(180deg);
  }

  @include vp-1279 {
    padding: 16px;
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }
}

// .projects__pagination-button svg {

//   width: 20px;
//   height: 20px;

//   @include vp-1279 {
//     width: 16px;
//     height: 16px;
//   }
// }
