.projects-slide__image-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects-slide__subtitle {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-1279 {
    // font-size: 12px;
  }
}

.projects-slide__title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: -0.03em;

  @include vp-1279 {
    font-size: 15px;
  }

  @include vp-767 {
    // font-size: 15px;
  }
}

.projects-slide__description {
  margin: 0;
  padding: 0;

  font-family: $ff-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;

  opacity: 0.6;

  @include vp-1279 {
    font-size: 15px;
  }

  @include vp-767 {
    // font-size: 15px;
  }
}
