.section-description {
  margin: 0;
  padding: 0;

  font-family: $ff-secondary;
  font-weight: 500;
  font-size: size(16px);
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: lowercase;

  @include vp-1279 {
    font-size: 13px;
  }

  @include vp-767 {
    font-size: 12px;
  }
}
