.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 12px 30px;

  @include vp-1279 {
    padding: 10px 20px;
    // min-width: 1024px;
  }

  @include vp-767 {
    min-width: 375px;
  }
}
