*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

html {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-family: $ff-primary;
  color: $color-black;

  min-width: 375px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: size-desktop($fz-default);

  @include vp-1279 {
    font-size: $fz-default;
  }
}

body {
  width: 100%;
  height: 100%;

  background-color: $color-main-background;
}

a {
  color: $color-default-black;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}
