.body {
  position: relative;

  display: flex;
  flex-direction: column;
  // min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }


  &::after {
    content: "";
    position: absolute;
    // z-index: 20;

    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #0d1d33;
    opacity: 0;
    transition: opacity $trans-default;
    transition-delay: 0ms;
    pointer-events: none;
  }

  &--modal-is-open {
    &::after {
      cursor: pointer;
      opacity: 0.4;
      z-index: 2;
      transition-delay: 500ms;
      pointer-events: auto;
    }
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.scroll-lock {
  overflow: hidden;
}

