mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Проекты"
      },
      {
        href: "#",
        text: "Компания"
      },
      {
        href: "#",
        text: "Направления"
      },
      {
        href: "#",
        text: "Блог"
      },
      {
        href: "#",
        text: "Карьера"
      },
    ]

  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        span.header__logo
          img(src="img/svg/logo.svg", width="82", height="27", alt="Логотип Only-digital", )
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          img(src="img/svg/logo.svg", width="82", height="27", alt="Логотип Only-digital", )

      nav.header__nav.main-nav
        ul.main-nav__list
          each link in headerLinks
            - const activeState = currentUrl === link.href
            li.main-nav__item
              if(activeState)
                span.main-nav__link.is-active= link.text
              else
                a.main-nav__link(href=link.href)= link.text
        button.main-nav__toggle(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
      div.header__star-container
        span.header__star-count 40
        span.header__star
          +icon("star", 21, 21)


