doctype html

include ../components

block variables

html(lang="ru")
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Only — digital-агентство для B2B. Создаём проекты на стыке аналитики, дизайна и технологий. Увеличиваем эффективность вашего бизнеса.")
    link(rel="preload", href="fonts/tt-commons-pro/tt-commons-pro-trial-medium.woff2", as="font", type="font/woff2", crossorigin="anonymous")
    link(rel="preload", href="fonts/tt-commons-pro/tt-commons-pro-trial-normal.woff2", as="font", type="font/woff2", crossorigin="anonymous")
    link(rel="preload", href="fonts/tt-runs-trial/tt-runs-trial-bold.woff2", as="font", type="font/woff2", crossorigin="anonymous")
    link(rel="preload", href="fonts/tt-runs-trial/tt-runs-trial-demibold.woff2", as="font", type="font/woff2", crossorigin="anonymous")
    link(rel="preload", href="fonts/tt-runs-trial/tt-runs-trial-extrabold.woff2", as="font", type="font/woff2", crossorigin="anonymous")
    link(rel="preload", href="fonts/tt-runs-trial/tt-runs-trial-medium.woff2", as="font", type="font/woff2", crossorigin="anonymous")
    //- При необходимости вы можете добавить разметку Open graf. - const Open graf = true
    //- генерируйте favicon тут - https://realfavicongenerator.net/
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"
    //- используйте только для шрифта находящегося на первом экране

    link(rel="stylesheet", href="css/style.min.css")

  body
    //- .wrapper(class=wrapperMods)
    if (hasHeader)
      +header(headerMods, currentUrl)

    block main

    if (hasFooter)
      +footer(footerMods)

    block modals

    script(src="js/main.min.js")
