// @import "vendor/normalize";

// Global
// ---------------------------------


@import "variables";
@import "mixins";
@import "functions";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks

// ---------------------------------

@import "blocks/header";
@import "blocks/main-nav";
@import "blocks/footer";
@import "blocks/btn";
@import "blocks/hero";
@import "blocks/contacts";
@import "blocks/title";
@import "blocks/portfolio";
@import "blocks/clients";
@import "blocks/projects";
@import "blocks/projects-slides";
@import "blocks/projects-slide";
@import "blocks/banner";
@import "blocks/banner-card";
@import "blocks/awards";
@import "blocks/awards-card";
