// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
// $color-accent-main: #2c39f2;
// $color-accent-second: #212121;

// Project palette


// Gradient
// Typography
// ---------------------------------
// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------


$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
